/* Color Theme Sthrees in Hex */
$green-1:        #49BF94;
$green-2:        #49A684;
$green-3:        #4A8C7A;
$trees-1:        #D9704A;
$trees-2:        #A65149;


$soft-gray:      #f7f7f7;
$flat-white:     #fff;
$txt-gray:       #777;
$black:          #000;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

