.u-center-text {
    text-align: center;
}

.u-mg-bt-8 {
    margin-bottom: 8rem;
}

.u-mg-bt-4{
    margin-bottom: 4rem;  
}

.u-mg-bt-2{
    margin-bottom: 1.5rem;
}

.u-mg-tp-8{
    margin-bottom: 8rem;
}